<p id="notice"><%= notice %></p>

<h1>Profile Fields</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Datatype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile_fields.each do |profile_field| %>
      <tr>
        <td><%= profile_field.name %></td>
        <td><%= datatype_label profile_field.datatype %></td>
        <td><%= link_to 'Show', profile_field %></td>
        <td><%= link_to 'Edit', edit_profile_field_path(profile_field) %></td>
        <td><%= link_to 'Destroy', profile_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile Field', new_profile_field_path %>
