<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile_field.name %>
</p>

<p>
  <strong>Datatype:</strong>
  <%= @profile_field.datatype %>
</p>

<%= link_to 'Edit', edit_profile_field_path(@profile_field) %> |
<%= link_to 'Back', profile_fields_path %>
